{% extends 'base.html'%} 
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid welcome-page">
        <div class="container" style="font-size: 30px;font-family: Great Vibes;">
        
        <div class="row">
            <div class="col-md-12 welcome">
                {% if current_user.is_authenticated%}
                <h1 style="align-items: center; color:deepskyblue; padding-top: 100px; margin-left: 200px;font-size: 40px;">Welcome to the online blogging-website application!</h1><br><br>
                <h4 style="font-size: 40px;margin-left: 150px; margin-right: 200px;">Here is the application that allows you to create and share your opinions and other users can read and comment on them wisely!</h4><br>
                {% endif %}
            </div>
        </div>

        
        <div class="thumbnail text-center">
        
            <div class="card">
            <div  class="card-body">
                <h1 class="card-title" style="margin-left: 200px; margin-right:300px;font-size: 30px;">Quote of today!</h1>

            <p class="card-text" style="font-size: 35px;">{{ quotes.quote }}</p>
            <cite>{{ quotes.author }}</cite>
          </div>
    </div>
</div>

    <h1 style="color:blue;text-align: center"><u>Blog list</u></h1>
      <br>
    <div class="thumbnail text-center" style="font-family: Great Vibes;font-size: 50px;">
        {{ macro.displayBlog(blog) }}
    </div>

    
    </div>

</div>
{% endblock %}